{% extends "auctions/layout.html" %} {% load static %} {% block body %}

<div class="container p-5 shadow p-3 mb-5 bg-body-tertiary rounded">
  <h2>Watchlist</h2>
  {% if watchlist %}
  <ul class="list-group list-group-flush">
    {% for listing in watchlist %}
    <li class="list-group-item">
      <div class="d-flex align-items-center">
        <div class="m-5">
          {% if listing.image_url %}
          <img
            class="img-fluid"
            src="{{listing.image_url}}"
            alt="{{listing.title}}"
          />
          {% else %}
          <img
            class="img-fluid"
            src="{% static 'assets/noimage.png' %}"
            alt="no-image"
          />
          {% endif %}
        </div>

        <div class="">
          <span>
            <form action="{% url 'watchlist' %}" method="post" style="display: inline">
              {% csrf_token %}
              <input type="hidden" name="listing_id" value="{{ listing.id }}" />
              <button type="submit" class="btn btn-outline-danger rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from watchlist">
                <i class="bi bi-dash-lg"></i>
              </button>
            </form>
          </span>
          <h5 class="">{{listing.title}}</h5>
          <span>Starting bid: <b>${{listing.starting_bid}}</b></span>
          <p>
            {% if listing.winner %} Winner: {{listing.winner}}  {% endif %}
          </p>
          <p class="">{{listing.desc}}</p>
          <a
            href="{% url 'listing-details' listing.id %}"
            class="btn btn-primary"
            >See details</a
          >
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Your watchlist is empty.</p>
  {% endif %}
</div>
{% endblock %}
